@media (max-width: 960px) {
  .main-container {
    width: calc(100%-16px);
    margin: 96px 16px;
  }
}

@media (min-width: 960px) {
  .main-container {
    width: 90%;
    margin: 96px auto;
  }
}

@media (min-width: 1280px) {
  .main-container {
    width: 1200px;
    margin: 96px auto;
  }
}
